<nav class="navbar navbar-expand-lg navbar-dark navbar-local-style">
		  <a class="navbar-brand navbar-brand-font">The Railroad</a>

		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse justify-content-end navbar-nav-extra" id="navbarNavAltMarkup">
		  </div>
</nav>		