.navbar-local-style {
	background-color: white;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-nav-extra {
	align-self: right;

}

.navbar-brand-font {
	font-family: 'Aref Ruqaa', monospace;
}
