<form [formGroup]="loginForm" (ngSubmit)="login()" >
    <h3>Login</h3>
    <br>
    <div class="form-group">
        <input type="email" name="username" [formControl]="username" class="form-control" placeholder="Email address"> 

        <div *ngIf="username.errors && (username.dirty || username.touched)" class="text-left">
            <font color="red">
                <small *ngIf="username.errors.required"> *Email is required<br></small>
                <small *ngIf="!username.errors.required && username.errors.email"> *Email must be valid type</small>
            </font>
        </div>  
    </div>
    <div class="form-group">
        <input type="password" name="password" [formControl]="password" class="form-control" placeholder="Password"> 
        <div *ngIf="password.errors && (password.dirty || password.touched)" class="text-left">
            <font color="red">
                <small *ngIf="password.errors.required"> *Password is required</small>
            </font>
        </div>  
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-dark btn-extra" [disabled]="!loginForm.valid">Submit</button>
    </div>

    <p *ngIf="isLoggingIn()"><i class="fa  w3-spin fa-refresh"></i> Logging in.</p>
    <p *ngIf="isLoginFailed()"><i class="fa fa-close"></i> Incorrect email/password.</p>
    <p *ngIf="isServerError()"><i class="fa fa-close"></i> Server Error. Please try again later.</p>

</form>